header{
}
.main {
}
aside{
}
footer{
  display: block;
  margin-top: 15px;
  padding: 10px 0px 10px 0px;
  background: #101010;
  color: white;
}
.modalPopup{
  width:500px;
  height:500px;
  position:fixed;
  left:300px;
  top:200px;
  z-index:3000;
  border:1px solid black;
  background-color:#CCC;
  display:none;
}